{% extends 'base.html' %}

{% block title %}الحجوزات{% endblock %}

{% block content %}

<h1 class="mt-4">الحجوزات</h1>

<form method="post" class="mt-3 mb-3">

<input
class="form-control"
type="text"
name="phone"
placeholder="رقم الهاتف"
value="{{ phone if phone }}"
>

<button class="btn btn-primary mt-2">
بحث
</button>

</form>

<table class="table mt-4">

<thead>
<tr>

<th>رقم الهاتف</th>
<th>الغرض</th>
<th>الموعد</th>
<th>الحالة</th>
<th>التفاصيل</th>

</tr>
</thead>

<tbody>

{% for booking in bookings %}

<tr>

<td>{{ booking.client.phone_number }}</td>

<td>{{ booking.purpose }}</td>

<td>{{ booking.date }}</td>

<td>{{ booking.status }}</td>

<td>

<a
class="btn btn-primary"
href="{{ url_for('booking_details', booking_id=booking.id) }}"
>

فتح

</a>

</td>

</tr>

{% endfor %}

</tbody>

</table>

{% endblock %}