{% extends 'base.html' %}

{% block content %}

<h1 class="mt-4">اضافة موتوسيكل جديد</h1>

<form method="POST">

<div class="form-group">
<label>الاسم الانجليزي</label>
<input name="english_name" class="form-control" value="{{ motor.english_name }}" required>
</div>

<div class="form-group">
<label>الاسم العربي</label>
<input name="arabic_name" class="form-control" value="{{ motor.arabic_name }}" required>
</div>

<div class="form-group">
<label>الشركة</label>
<input name="company" value="{{ motor.company }}" class="form-control">
</div>

<div class="form-group">
<label>الوكالة</label>
<input name="agency_name" value="{{ motor.agency_name }}" class="form-control">
</div>

<div class="form-group">
<label>نوع الموتوسيكل</label>
<input name="moto_type" value="{{ motor.moto_type }}" class="form-control">
</div>

<div class="form-group">
<label>السعر</label>
<input name="price" type="number" value="{{ motor.price }}" class="form-control">
</div>

<div class="form-group">
<label>سعة المحرك</label>
<input name="engin_capacity" value="{{ motor.engin_capacity }}" class="form-control">
</div>

<div class="form-group">
<label>سعة الوقود</label>
<input name="fule_capacity" value="{{ motor.fule_capacity }}" class="form-control">
</div>

<div class="form-group">
<label>نوع المحرك</label>
<input name="engin_type" value="{{ motor.engin_type }}" class="form-control">
</div>

<div class="form-group">
<label>نوع ناقل الحركة</label>
<input name="transmission_type" value="{{ motor.transmission_type }}" class="form-control">
</div>

<div class="form-group">
<label>السرعة القصوى</label>
<input name="max_speed" value="{{ motor.max_speed }}" class="form-control">
</div>

<div class="form-group">
<label>نوع الفرامل</label>
<input name="brake_type" value="{{ motor.brake_type }}" class="form-control">
</div>

<div class="form-group">
<label>الالوان</label>
<input name="colors" value="{{ motor.colors }}" class="form-control">
</div>

<div class="form-group">
<label>ملاحظات</label>
<input name="notes" value="{{ motor.notes }}" class="form-control">
</div>

<div class="form-group">
<label>الحالة</label>
<input name="status" value="{{ motor.status }}" class="form-control">
</div>

<div class="form-group">
<label>رابط الصورة</label>
<input name="img_url" value="{{ motor.img_url }}" class="form-control">
</div>

<div class="form-group">
<label>متاح للبيع</label>
<select name="is_available" class="form-control">
<option value="1">نعم</option>
<option value="0">لا</option>
</select>
</div>

<button class="btn btn-primary">
اضافة
</button>

</form>

{% endblock %}