{% extends 'base.html' %}

{% block content %}

<h1 class="mt-4">اضافة خوذة جديدة</h1>

<form method="POST">

<div class="form-group">
<label>الاسم الانجليزي</label>
<input type="text" name="english_name" class="form-control" required>
</div>

<div class="form-group">
<label>الاسم العربي</label>
<input type="text" name="arabic_name" class="form-control" required>
</div>

<div class="form-group">
<label>الشركة</label>
<input type="text" name="company" class="form-control">
</div>

<div class="form-group">
<label>السعر</label>
<input type="number" name="price" class="form-control">
</div>

<div class="form-group">
<label>النوع</label>
<input type="text" name="helmet_type" class="form-control">
</div>

<div class="form-group">
<label>الالوان</label>
<input type="text" name="colors" class="form-control">
</div>

<div class="form-group">
<label>ملاحظات</label>
<input type="text" name="notes" class="form-control">
</div>

<div class="form-group">
<label>الحالة</label>
<input type="text" name="status" class="form-control">
</div>

<div class="form-group">
<label>رابط الصورة</label>
<input type="text" name="img_url" class="form-control">
</div>

<button type="submit" class="btn btn-primary">
اضافة
</button>

</form>

{% endblock %}