{% extends 'base.html' %}

{% block content %}

<h1 class="mt-4">مراجعة الشكوى</h1>

<form method="post" action="{{ url_for('view_complaint', id=complaint.id) }}">

    <div class="form-group">
        <label>رقم الهاتف:</label>
        <input type="text" class="form-control"
               value="{{ complaint.client.phone_number }}" readonly>
    </div>

    <div class="form-group">
        <label>هل اشترى ؟</label>
        <input type="text" class="form-control"
               value="{{ 'نعم' if complaint.client.has_purchased else 'لا' }}" readonly>
    </div>

    <div class="form-group">
        <label>معلومات العميل:</label>
        <textarea class="form-control" rows="3" readonly>
{{ complaint.client.info }}
        </textarea>
    </div>

    <div class="form-group">
        <label>رسالة الشكوى:</label>
        <textarea class="form-control" rows="4" readonly>
{{ complaint.message_text }}
        </textarea>
    </div>

    <div class="form-group">
        <label>حالة الشكوى:</label>

        <select class="form-control" name="is_resolved">

            <option value="0"
            {% if not complaint.is_resolved %}selected{% endif %}>
            لم يتم الحل
            </option>

            <option value="1"
            {% if complaint.is_resolved %}selected{% endif %}>
            تم الحل
            </option>

        </select>
    </div>

    <button type="submit" class="btn btn-primary">حفظ</button>

</form>

{% endblock %}